:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: D60;
}

.root {
  -st-states: tiled;
  display: inline-block;
  overflow: hidden;
  border-radius: 8px;
  font-size: 0;
  background-color: value(D60);
  max-width: 100%;
  max-height: 100%;
}

.root:tiled {
  background-repeat: repeat;
  object-position: -100vw;
  object-fit: none;
}
